<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>
    <form action="/signup" method="POST">
    <p>Enter the email</p>
    <input type="email" name="email">
    <br>
    <p>Enter the password</p>
    <input type="password" name="password">
    <br>
    <input type="submit" value="LogIn">    
    </form>


</body>
</html>
